
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body {
    height: 1627px;
    background: #fff;
}

:root {
    --font-family: "Play", sans-serif;
    --second-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    border-bottom: 1px dashed #bedada;
    position: relative;
    padding: 20px 0;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__content-logo {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 44px;
    line-height: 51px;
    color: #023131;
}

.header__content-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header__menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.header__item-link {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: #001c1c;
}

.header__item-link img {
    width: 24px;
    height: 24px;
}

.button {
    width: 202px;
    height: 50px;
    background: #FF2E4C;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    position: relative;
    cursor: pointer;
    z-index: 0;
  }

  .button__icon {
    width: 16px;
    height: 16px;
    background: #607282;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%) scale(.2);
    transition: all ease-in .3s;
    z-index: 1;
  }

  .button__circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
  }

  .button:hover .button__icon {
    transform: translateY(-50%) scale(1);
    font-size: 20px;
  }


.header__burger-menu {
    position: absolute;
    right: 0;
    top: 80px;
    margin-right: 20px;
    height: 940px;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.header__burger-menu.active {
    opacity: 1;
}

.wrapper {
    overflow: hidden;
}

.wrapper__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.wrapper__content-discounts {
    padding: 20px;
    background: #f0f6f6;

}

.wrapper__discounts-info {
    margin-bottom: 20px;
}

.wrapper__info-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 44px;
    line-height: 51px;
    color: #023131;
}

.wrapper__info-btn {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #607282;
}

.wrapper__discounts-wrap {
    width: 290px;
    height: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrapper__wrap-flex {
    flex: 0 1 100%;
    transition: all .8s ease-in;
    cursor: pointer;
}

.wrapper__wrap-flex:hover {
    box-shadow: 0 4px 15px 0 rgba(2, 49, 49, 0.1);
}

.wrapper__flex-bg {
    width: 100%;
}

.wrapper__flex-body {
    border-bottom: 1px dashed #bedada;
    border-left: 1px dashed #bedada;
    border-right: 1px dashed #bedada;
    border-radius: 0 0 10px 10px;
    padding: 12px;
    width: 290px;
    height: 159px;
    background: #fff;
}

.wrapper__body-title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    color: #607282;
    transition: all .8s ease-in;
}

.wrapper__body-title:hover,
.wrapper__promo-title:hover {
    color: #ff2e4c;
}

.wrapper__body-text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    color: #001c1c;
}

.wrapper__body-text:hover{
    color: #248888;
}

.wrapper__body-footer {
    margin-top: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.wrapper__promo-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #607282;
    transition: all .8s ease-in;
}

.wrapper__cashback {
    border: 1px solid #607282;
    border-radius: 4px;
    padding: 4px 8px 5px 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #607282;
}
.wrapper__cashback--active {
    background: #607282;
    color: #fff;
}

.wrapper__content-main {
    margin-top: 40px;
}

.tabs {
    position: relative;
    padding: 30px;
    border-radius: 10px;
    max-width: 970px;
    width: 100vw;
    height: 570px;
    background: #f0f6f6;
}

.tabs__content{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.products__title {
    border-bottom: 1px solid #bedada;
    border-radius: 10px 10px 0 0;
    width: 910px;
    height: 95px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 44px;
    line-height: 1.15;
    color: #248888;
}

.tabs__btn {
    margin: 15px 0 30px;
    width: 341px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabs__btn-item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    background: transparent;
    color: #001c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tabs__btn-item--active::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #ff2e4c;
}

.tabs__btn-item--active {
   display: flex;
   align-items: center;
   transition: all .8s ease;
}

.tabs__btn-item--active {
    color: #3c5858;
}
.__content {
    width: 910px;
}

.__item-wrap {
    width: 100vw !important;
    cursor: pointer;
}

.tabs__wrap-flex {
    transition: all .8s ease-in;
}

.tabs__wrap-flex:hover {
    box-shadow: 0 4px 15px 0 rgba(2, 49, 49, 0.1);
}

.swiper{
    columns: 3;
}

.swiper-slide {
    min-width: 270px !important;
    height: 344px !important;
    cursor: pointer;
}


.tabs__flex-img {
    position: relative;
}
.tabs__flex-promo {
    position: absolute;
    top: 8px;
    left: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 4px 12px 6px 12px;
    width: 80px;
    height: 30px;
    background: #ff2e4c;
    color: #fff;
    text-align: center;
}

.tabs__flex-promo2 {
    position: absolute;
    top: 8px;
    left: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    background: #fff;
    color: #ff2e4c;
    vertical-align: middle;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    display: none;
}

.swiper-button-prev {
    position: absolute;
    left: -45px;
   
}

.swiper-button-next {
    position: absolute;
    right: -45px;

}

.swiper-button-next.swiper-next__btn.swiper-button-disabled {
    transform: scale(0);
}

.swiper-button-next {
    position: absolute;
    right: -25px !important;
    width: 48px !important;
    height: 48px !important;
    border-radius: 100px;
    background: #607282;
    transition: all .8s ease-in;

}

.swiper-border-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background: #607282;
    transition: all .2s ease-in;
}

.swiper-button-next.swiper-button-disabled .swiper-next__btn {
   opacity: 0;
   display: none;
}

.swiper-button-next.swiper-button-disabled {
    background: #fff;
    opacity: 1 !important;
}

.swiper-button-prev .swiper-next__btn {
    transform: rotate(-180deg);
}

.swiper-button-prev {
    position: absolute;
    left: -25px !important;
    width: 48px !important;
    height: 48px !important;
    border-radius: 100px;
    background: #607282;
    transition: all .2s ease-in;
}

.swiper-button-prev.swiper-button-disabled .swiper-next__btn {
    opacity: 0;
    display: none;
 }

.swiper-button-prev.swiper-button-disabled {
    background: #fff;
    opacity: 1 !important;
}


.swiper-border-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background: #607282;
}

.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #bedada;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #607282;
}

.info {
    margin: 70px 0 60px;
}

.info__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    color: #023131;
}

.info__subtitle {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #001c1c;
}


.faq__question {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #001c1c;
}

.faq-answer {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #3c5858;
    margin: 0 auto;
    width: 685px;
}

.faq-item {
    margin-bottom: 25px;
    border-bottom: 1px solid #bedada;
    padding: 0px 0px 25px 0px;
    width: 970px;

}

.tg{
    color: #ff2e4c;
}

.faq-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 57px;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: #3c5858;
    transition: all .8s ease-in;
}

.faq-question:hover {
    color: #023131;
}

.faq-question svg {
    stroke: #bedada;
    transition: all .8s ease-in;
    transform: rotate(0deg);
}

.faq-question:hover svg {
    stroke: #ff2e4c;
}

.faq-question.active {
    color: #ff2e4c;
}

.faq__title {
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 44px;
    line-height: 115%;
    color: #023131;
}

@media (max-width: 1024px) {
    .container {
        padding: 0 10px;
    }

    .header__content-logo {
        font-size: 22px;
    }

    .header__item-link {
        font-size: 15px;
    }

    .tabs {
        width: 600px;
    }

    .products__title {
        width: 603px;
    }
}


@media (max-width: 768px) {

    .swiper-button-prev {
        display: none  !important;
    }

    .header__menu-burger {
        display: flex;
    }
    
    .header__socials-link {
        display: none;
    }

    .button {
        display: none;
    }

    .header__menu-list {
        display: none;
    }

    .header__item-link {
        text-align: end;
    }
}

@media (max-width:425px) {
    .wrapper__content {
        flex-direction: column;
    }

    .wrapper__content-discounts {
        padding: 10px;
        margin: 0 auto;
        background: #f0f6f6;
        width: 95vw;
    }

    .products__title {
        width: 329px;
    }

    .tabs {
        overflow: hidden;
    }

    .faq__answer,
    .info__text,
    .info__subtitle {
        width: 380px;
    }

    .faq-item {
        width: 328px;
    }
}